# Prerequisites
*.d

# Compiled Object files
build
build.dbg
*.slo
*.lo
*.o
*.obj

# Copied Headers
include

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.dbg
*.out
*.app

# Editor Junk
*.code-workspace
*.swp
.DS_Store
.vscode
